*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container img {
    width: 300px;
}

.header div:last-child {
    display: flex;
    gap: 15px;
    margin-right: 10px;
}
