*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --logo-text-yellow: #f4a01b;
    --big-stone-blue: #162839;
    --regent-gray: #8597A6;
    --matisse-blue: #1A70A9;
    --tulip-tree-yellow: #EFAF43;
    --logo-shield-blue: #125c8b;
    --primary-brown: #45282c;
    --header-bg-brown: #2B191B;
    --primary-text-brown: #ecddc6;
    --character-sheet-brown: #9C501B;
    --border-black: #221416;
    --faded-character-sheet-brown: #B88149;
}

body {
    font-family: 'Alegreya', serif;
    position: relative;
}

/* h1 {
    font-size: clamp(1.25rem, 1vw + 1rem, 2.5rem);
}

h2 {
    font-size: clamp(1.125rem, 0.5vw + 1rem, 2rem);
} */

a {
    text-decoration: none;
    color: black;
}

header {
    background-color: var(--border-black);
    position: sticky;
    top: 0;
    z-index: 999;
}

header a {
    color: var(--logo-text-yellow);
}

header a:hover {
    color: var(--primary-text-brown);
}

header a:active {
    opacity: .8;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: clamp(65px, 7%, 100px);
    margin-left: 4%;
}

header ul {
    display: flex;
    gap: 4vw;
    list-style-type: none;
    font-size: clamp(1.125rem, 1vw + 1rem, 3rem);
    font-weight: 700;
    font-style: italic;
    margin-right: 4vw;
}

dialog::backdrop {
    background-color: #ecddc6;
    opacity: .6;
}

/*************************************************/
/*              CHARACTERS PAGE                  */
/*************************************************/
.content {
    position: relative;
    min-height: 100vh;
    background-image: url(images/HeroQuest-board-1450x1150.png);
    background-color: var(--header-bg-brown);
    background-size: contain;
    background-repeat: repeat;

    display: flex;
    flex-direction: column;
}

.content::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: var(--primary-brown);
    opacity: .5;
}

/*** CREATE CHARACTER SHEET ***/

#create-character-sheet {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
}

.create-character-welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .7em;
    padding: 2em 20px 0;
    text-align: center;
}

#add-character-button {
    font-family: inherit;
    font-size: 1.1em;
    font-weight: 600;
    color: var(--primary-text-brown);
    background-color: var(--character-sheet-brown);
    border: 1px solid var(--primary-text-brown);
    border-radius: 10px;
    padding: 5px 10px;
}

#add-character-button:hover {
    background-color: var(--primary-brown);
}

#add-character-button:active {
    color: var(--primary-brown);
    background-color: var(--primary-text-brown);
    border-color: var(--primary-brown);
    border-radius: 10px;
}

/** ENTER CHARACTER NAME MODAL **/
.enter-name-modal,
.select-hero-type-modal,
#modal {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
}

.enter-name-modal {
    background-image: url(images/enter-name-bg-scroll-263x180.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: clamp(289px, 40vw, 526px);
    height: clamp(198px, 28vw, 360px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: clamp(25px, 5%, 35px);
}

.enter-name-modal #cancel-modal {
    background-color: transparent;
    border: none;
    cursor: pointer;

    align-self: flex-end;
}

.enter-name-modal #cancel-modal:hover,
.enter-name-modal #cancel-modal:focus,
.enter-name-input-container button:hover,
.enter-name-input-container button:focus {
    color: var(--primary-text-brown);
    text-shadow: 2px 2px 6px var(--primary-brown);
}

.enter-name-modal #cancel-modal:focus,
.enter-name-input-container button:focus,
.select-hero-type-modal #cancel-modal:focus,
.character-sheet-item-card #cancel-modal {
    outline: none;
}

.enter-name-input-container {
    gap: 5%;
    height: 100%;
    color: var(--primary-brown);
    margin-bottom: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.enter-name-input-container label,
.enter-name-input-container button {
    font-size: 1.2em;
    font-style: italic;
    font-weight: 600;
}

.enter-name-input-container input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--primary-brown);
    background-color: transparent;
    font-family: inherit;
    font-size: 1.1em;
    text-align: center;
}

.enter-name-input-container input:hover {
    border-bottom: 1px solid var(--primary-text-brown);
}

.enter-name-input-container input:focus {
    outline: none;
    border-bottom: 2px solid var(--primary-brown);
}

.enter-name-input-container button {
    font-family: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/***** SELECT CHARACTER TYPE MODAL *****/
.select-hero-type-modal {
    width: max-content;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.select-hero-type-modal #cancel-modal,
.character-sheet-item-card #cancel-modal,
.character-sheet-item-card > button:last-child {
    background-color: var(--primary-brown);
    color: var(--primary-text-brown);
    border: 1px solid var(--primary-text-brown);
    border-radius: 5px;
}

.select-hero-type-modal #cancel-modal:hover,
.character-sheet-item-card #cancel-modal:hover,
.character-sheet-item-card > button:last-child:hover {
    background-color: var(--primary-text-brown);
    color: var(--primary-brown);
    border: 1px solid var(--primary-brown);
}

.select-hero-type-modal #cancel-modal:active,
.character-sheet-item-card #cancel-modal:active,
.character-sheet-item-card > button:last-child:active {
    background-color: var(--character-sheet-brown);
    color: var(--primary-text-brown);
    border: 1px solid var(--primary-text-brown);
}

.hero-types-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.character-type-card {
    width: 225px;
}

.character-type-card:hover {
    border: 5px solid var(--primary-brown);
    border-radius: 10px;
}

.character-type-card:active {
    border: 5px solid var(--character-sheet-brown);
    opacity: .8;
}


/***** CHARACTER SHEET *****/

.character-sheets-container {
    padding: 2% 1%;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(525px, 725px));
    justify-items: center;
    gap: 3vh;
}

.character-sheet {
    /* width: 90%;
    min-width: 360px;
    max-width: 396px;
    min-height: 624px; */
    width: 396px;
    height: 721px;
    position: relative;
    padding: 35px 20px 30px;
    background-image: url(images/character-sheet-bg-335x610.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 1.1em;
    color: var(--primary-brown);

    display: flex;
    flex-direction: column;
}

.character-sheet h3 {
    font-weight: 700;
    font-size: 1.35em;
    font-style: italic;
}

.character-sheet h4 {
    font-weight: 500;
    font-style: italic;
}

/** HEADER **/
.character-sheet-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 5px 0;
}

/** NAME, TYPE, SAVE & DEATH BUTTONS SECTION **/
.character-name-type-container {
    margin-bottom: 5px;
    margin-left: 10px;

    display: flex;
    flex-direction: column;
}

.character-sheet-title {
    font-weight: 600;
    font-style: italic;
}

.character-name-type-container > div {
    display: flex;
    gap: 5px;
}

/** Save and Death Buttons **/
.char-btns {
    display: flex;
    position: absolute;
    gap: 5px;
    right: 35px;
    top: 97px;
}

.save-button {
    border: none;
    border-radius: 10px;
    padding: 0 5px;
    background-color: transparent;
    font-family: inherit;
    font-size: 1.1em;
}

.save-button:hover {
    opacity: .8;
    border: 1px solid #45282c;
    background-color: #9C501B;
    color: #ECDEC9;
    transition: 200ms;
}

.save-button:active {
    background-color: var(--primary-text-brown);
    color: var(--primary-brown);
    transition: 100ms;
}

.killed-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.killed-button:hover {
    opacity: .8;
}

/* Death Button Skull Icon */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    color: var(--primary-brown);
}

.material-symbols-outlined:hover {
    color: var(--character-sheet-brown);
    font-variation-settings:
    'FILL' 1;
}

.material-symbols-outlined:active {
    color: var(--primary-text-brown);
}

/** AUTOMATICALLY UPDATE STATS SECTION **/
.auto-update-ui-container {
    margin-left: 10px;
    margin-bottom: 5px;
}

.auto-update-ui-container > label {
    display: flex;
    gap: .25em;
    cursor: pointer;
}

/* Creates Automatically Update Stats Toggle Switch */
input[type='checkbox'].toggle {
    opacity: 0;
    width: 0;
    height: 0;
}

input[type='checkbox'].toggle + .slider {
    display: flex;
    align-items: center;
    position: relative;
}

input[type='checkbox'].toggle + .slider::before {
    content: "";
    width: 2.5em;
    height: 1.25em;
    background-color: var(--character-sheet-brown);
    opacity: .7;
    border-radius: 1em;
    margin-right: .25em;
    transition: background-color 200ms ease-in-out;
}

input[type='checkbox'].toggle + .slider::after {
    content: "\2715";
    color: var(--primary-text-brown);
    font-size: .67em;
    width: 1.6em;
    height: 1.6em;
    background-color: var(--primary-brown);
    border-radius: 50%;
    position: absolute;
    left: .2em;
    transition: background-color 200ms ease-in-out,
    transform 200ms ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
}

input[type='checkbox'].toggle:checked + .slider::after {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    background-color: green;
    content: "\2713";
}

input[type='checkbox'].toggle:checked + .slider::before {
    background-color: green;
    opacity: .4;
}

/** DICE AND STARTING POINTS SECTIONS **/
.initial-stats {
    border: 1px solid var(--primary-brown);
}

.initial-stats > div:nth-child(-n + 2),
.starting-points > div:first-of-type {
    border-right: 1px solid var(--primary-brown);
}

.starting-points > h4 {
    border-bottom: 1px solid var(--primary-brown);
}

.initial-stats {
    display: flex;
    justify-content: space-between;
    margin: 5px 10px;
    text-align: center;
    
}

.initial-stats > div {
    flex: auto;
}

.initial-stats > div:nth-child(-n +2) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.initial-stats > div:nth-child(-n + 2) h4 {
    width: min-content;
}

.starting-points {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
}

.starting-points h4 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.body-points-gold-tracker {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 8px;
    text-align: center;
}

.stat-tracker-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-number-input {
    width: 25px;
    border: none;
    text-align: center;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
}

.increase-number-btn::before {
    content: '\002B';
}

.decrease-number-btn::before {
    content: '\002D';
}

.increase-number-btn,
.decrease-number-btn {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    border: none;
    color: white;
    background-color: var(--primary-brown);
    opacity: .7;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.increase-number-btn:hover,
.decrease-number-btn:hover {
    opacity: 1;
    transition: 100ms;
    border: 1px solid var(--header-bg-brown);
    background-color: var(--character-sheet-brown);
    color: var(--header-bg-brown);
}

.increase-number-btn:active,
.decrease-number-btn:active {
    background-color: var(--header-bg-brown);
    color: var(--primary-brown);
}

/* Chrome, Safari, Edge, Opera */
.hero-number-input::-webkit-outer-spin-button,
.hero-number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.hero-number-input[type=number] {
  -moz-appearance: textfield;
}

/** EQUIPPED ITEMS SECTION **/

.equipped-items-container {
    position: relative;

    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.character-outline {
    width: 260px;
    opacity: .1;
}

.equipped-head-item,
.equipped-body-item,
.equipped-left-hand-item,
.equipped-right-hand-item,
.equipped-extra-1-item,
.equipped-extra-2-item {
    position: absolute;
    width: 66px;
    height: 50px;
    border: 1px solid var(--primary-brown);
    /* background-color: var(--character-sheet-brown); */
}

.equipped-head-item::after,
.equipped-body-item::after,
.equipped-left-hand-item::after,
.equipped-right-hand-item::after,
.equipped-extra-1-item::after,
.equipped-extra-2-item::after {
    content: "";
    background-color: var(--character-sheet-brown);
    opacity: .6;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.equipped-head-item {
    top: 6px;
}

.equipped-body-item {
    top: 85px;
}

.equipped-right-hand-item {
    top: 110px;
    left: 60px;
}

.equipped-left-hand-item {
    top: 110px;
    right: 60px;
}

.equipped-extra-1-item {
    left: 40px;
}

.equipped-extra-2-item {
    right: 40px;
}

.equipped-item-image {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    width: 100%;
}

/** WEAPONS & ARMOR AND POTIONS & ITEMS SECTION **/

.weapons-armor-items-container {
    margin: 0 20px;
}

.weapons-armor-items-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.weapons-armor-items-header > h4 {
    font-weight: 600;
}

.weapons-armor-container {
    margin-bottom: 5px;
}

.weapons-armor-container h4,
.weapons-armor-container li,
.potions-items-container h4,
.potions-items-container li {
    width: max-content;
}

.weapons-armor-container button,
.potions-items-container button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.weapons-armor-items-container ul {
    list-style: none;
    height: 68px;
    padding-bottom: 5px;
    margin: 0 5px;
    overflow-x: auto;
    cursor: pointer;

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    grid-column-gap: 10px;
    align-items: start;
}

.weapons-armor-items-container ul::-webkit-scrollbar {
    height: .6em;
}

.weapons-armor-items-container ul::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 100vw;
    border: 1px solid var(--primary-brown);
}

.weapons-armor-items-container ul::-webkit-scrollbar-thumb {
    background-color: var(--faded-character-sheet-brown);
    border: 1px solid var(--primary-brown);
    border-radius: 100vw;
}

.weapons-armor-items-container ul::-webkit-scrollbar-thumb:hover {
    background: var(--character-sheet-brown);
    /* border: 1px solid var(--primary-text-brown); */
}


.weapons-armor-items-container li {
    display: flex;
}

.equippable-item {
    margin-right: 4px;
}

.equippable-item:hover {
    color: var(--character-sheet-brown);
}

.incompatible {
    color: var(--header-bg-brown);
    /* position: relative; */
}

/* .incompatible::before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    background-color: black;
    color: orange;
    border: solid 1px silver;
    border-radius: 8%;
    transition: opacity 1s ease-in-out 1s;
    
    position: absolute;
    z-index: 1;
    top: 110%;
}

.incompatible:hover::before {
    visibility: visible;
    opacity: 1;
} */

.hide {
    visibility: hidden;
    opacity: 0;
    background: black;
    color: orange;
    border: 1px solid silver;
    border-radius: 10px;
    padding: 2px;
    transition: opacity .5s ease-in-out .5s;

    position: absolute;
    z-index: 1;
}

.incompatible:hover + .hide {
    visibility: visible;
    opacity: 1;
}

.remove-item {
    font-size: 1.1em;
}

/***** SELECT ITEMS MODAL *****/

.select-weapons-armor-container,
.select-potions-items-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    font-family: lumanosimo, 'Times New Roman', Times, serif;
    background-image: url(images/select-items-bg-355x520.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-top: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.select-weapons-armor-container {
    height: 675px;
    width: 460px;
    padding-top: 40px;
}

.select-potions-items-container {
    width: 355px;
    height: 520px;
}

.select-weapons-armor-container > #cancel-modal,
.select-potions-items-container > #cancel-modal {
    margin-left: 68%;
    background-color: transparent;
    border: none;
    color: var(--primary-brown);
}

.select-weapons-armor-container > #cancel-modal:hover,
.select-potions-items-container > #cancel-modal:hover,
fieldset#choose-items button#close-modal:hover,
fieldset#choose-items label:hover {
    color: var(--primary-text-brown);
    text-shadow: 1px 1px 5px var(--primary-brown);
}

.select-weapons-armor-container > #cancel-modal:active,
.select-potions-items-container > #cancel-modal:active,
fieldset#choose-items button#close-modal:active,
fieldset#choose-items label:active {
    color: var(--character-sheet-brown);
    text-shadow: 1px 1px 5px var(--header-bg-brown);
}

#modal > fieldset {
    border: none;
}

fieldset#choose-items > legend {
    margin-bottom: 5px;
}

/* Customize the label (the container) */
.item-container {
    position: relative;
    padding-left: calc(1em + 5px);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .item-container label {
    display: flex;
    align-items: center;
  }
  
  /* Hide the browser's default checkbox */
  .item-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    left: 0;
    height: 1em;
    width: 1em;
    background-color: transparent;
    border: 1px solid var(--primary-brown);
    border-radius: 5px;
  }
  
  /* On mouse-over, add a grey background color */
  .item-container:hover input ~ .checkmark {
    background-color: var(--primary-text-brown);
  }
  
  /* When the checkbox is checked, add a blue background */
  .item-container input:checked ~ .checkmark {
    background-color: var(--primary-brown);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .item-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .item-container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid var(--primary-text-brown);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

fieldset#choose-items div:last-of-type {
    margin-bottom: 10px;
}

fieldset#choose-items button#close-modal {
    font-family: inherit;
    font-size: 1em;
    border: none;
    background-color: transparent;
}

/***** ITEMS CARD MODAL *****/
.character-sheet-item-card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.character-sheet-item-card > .item-card {
    position: relative;
    background-image: url(images/item-card-bg-324x455.png);
    background-size: contain;
    width: 324px;
    height: 455px;
    border: none;
    padding-top: 40px;
    font-size: 1.1em;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.character-sheet-item-card .item-card-image {
    width: 210px;
    height: 152px;
    position: absolute;
    top: 76px;
}

.character-sheet-item-card .item-card > p {
    position: absolute;
    top: 240px;
    width: 250px;
}

.character-sheet-item-card > button:last-child {
    padding: 8px 12px;
    font-family: inherit;
    font-size: 1.1em;

    align-self: flex-start;
}

/*************************************************/
/*                QUESTS PAGE                    */
/*************************************************/

/* Quest list */
.quests-main {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 2vw;
}

.quests-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 25px;
}

.quest-sheet {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Pick Heroes Popup */
.pick-heroes {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #675450;
    opacity: .9;
    font-size: 1.75rem;
    color: white;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.show {
    display: flex;
}

.not-started {
    color: silver;
}

/*************************************************/
/*                 ITEMS PAGE                    */
/*************************************************/

.content-container {
    display: flex;
}

.items-container {
    width: max-content;
    height: 78vh;
    overflow: auto;
    padding: 5px 1vw;

    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.items-container, .search-wrapper input {
    font-size: 1.1rem;
}

.search-wrapper {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.search-wrapper input {
    font-family: inherit;
}

.items-container ul {
    list-style-type: none;
}

.items-list-header {
    display: flex;
    align-items: center;
    gap: 3%;
    margin-bottom: 5%;
    font-weight: 600;
}

.items-header-icon {
    width: 1.5rem;
}

.list-item:hover {
    color: grey;
}

.list-item:focus {
    font-weight: 600;
}

.list-item:hover:focus {
    color: black;
    font-weight: 600;
}

/* .hide {
    display: none;
} */

.items-card-container {
    width: 100%;
    display: grid;
    grid-template: 1fr / 1fr;
    justify-items: center;
    align-items: center;
}

.instruction-card {
    border: 2px solid black;
    width: 270px;
    height: 340px;
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
}

.instruction-card > h3 {
    margin-bottom: 20%;
}

.items-card-container .item-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    width: 270px;
    min-height: 340px;
    max-height: max-content;
    padding: 20px;
    border: 2px solid black;
    font-size: 1.2rem;
}

.item-card-image {
    width: 148px;
    height: 110px;
}


.item-card-cost {
    align-self: flex-start;
    margin-top: auto;
}